{
  "plugins": ["prettier-plugin-organize-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
